<div class="subscribe-box">
  <p>Don't miss new updates from Decadent Serpent.</p>
  <form id="sib-form" method="POST" action="https://a086d4b7.sibforms.com/serve/MUIFAGCxxxkNoZE575igpj9utDJ6fKMZ1lfDP5A8n8DkCK845D_8WwyDazOo8th7v48HO4Iefpgan1hNP1iyjUjAUoSlc0tiLF0mCcUcQqWSddrlALUVdLjJP3gedH0aKHI4wo81rt8UFdlGU_ryo1SDqY_eEOcfoMARXHNbLFTV-Sfb7CB1_hfrLngyCudqZldzQ847E-X0SAquHQ==" data-type="subscription" class="subscribe-form">
    <input type="text" name="EMAIL" placeholder="Your email address" required>
    <input type="text" name="email_address_check" value="" style="display:none;">
    <input type="hidden" name="locale" value="en">
    <button type="submit">Subscribe</button>
  </form>
</div>
<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>
