<div class="subscribe-box">
  <p>Don't miss new updates from Decadent Serpent.</p>
  <form id="sib-form" method="POST" action="https://a086d4b7.sibforms.com/serve/MUIFAGCxxxkNoZE575igpj9utDJ6fKMZ1lfDP5A8n8DkCK845D_8WwyDazOo8th7v48HO4Iefpgan1hNP1iyjUjAUoSlc0tiLF0mCcUcQqWSddrlALUVdLjJP3gedH0aKHI4wo81rt8UFdlGU_ryo1SDqY_eEOcfoMARXHNbLFTV-Sfb7CB1_hfrLngyCudqZldzQ847E-X0SAquHQ==" data-type="subscription" class="subscribe-form">
    <input class="input" type="text" id="EMAIL" name="EMAIL" placeholder="Your email address" data-required="true" required>
    <input type="text" name="email_address_check" value="" style="display:none;">
    <input type="hidden" name="locale" value="en">
    <button type="submit" class="sib-form-block__button">Subscribe</button>
  </form>
  <div id="error-message" class="sib-form-message-panel" style="display:none;color:#661d1d;background:#ffeded;padding:0.5rem;margin-top:0.5rem;font-size:0.8rem;">
    Your subscription could not be saved. Please try again.
  </div>
  <div id="success-message" class="sib-form-message-panel" style="display:none;color:#085229;background:#e7faf0;padding:0.5rem;margin-top:0.5rem;font-size:0.8rem;">
    You've successfully subscribed. Thank you!
  </div>
</div>
<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
  window.LOCALE = 'en';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
  window.REQUIRED_ERROR_MESSAGE = "This field cannot be left blank.";
  window.GENERIC_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
  window.translation = { common: { selectedList: '{quantity} list selected', selectedLists: '{quantity} lists selected' } };
  var AUTOHIDE = Boolean(0);
</script>
<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>
