<div class="subscribe-box">
  <p>Don't miss new updates from Decadent Serpent.</p>
  <form method="POST" action="https://a086d4b7.sibforms.com/serve/MUIFAGCxxxkNoZE575igpj9utDJ6fKMZ1lfDP5A8n8DkCK845D_8WwyDazOo8th7v48HO4Iefpgan1hNP1iyjUjAUoSlc0tiLF0mCcUcQqWSddrlALUVdLjJP3gedH0aKHI4wo81rt8UFdlGU_ryo1SDqY_eEOcfoMARXHNbLFTV-Sfb7CB1_hfrLngyCudqZldzQ847E-X0SAquHQ==" class="subscribe-form">
    <input type="email" name="EMAIL" placeholder="Your email address" required>
    <input type="text" name="email_address_check" value="" style="display:none;">
    <input type="hidden" name="locale" value="en">
    <button type="submit">Subscribe</button>
  </form>
</div>
